<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hydrate Me - Login</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form action="/login" method="post" id="loginForm">
      <input type="text" id="username" name="username" required>
      <input type="password" id="password" name="password" required>
      <button type="submit">Login</button>
    </form>
    <!-- For navigation to the signup page -->
    <div class="alternate-action">
      <p>Don't have an account?</p>
      <button onclick="window.location.href='/signup'">Sign Up</button>
    </div>  
  </div>
  <script src="login.js"></script>
</body>
</html>
